In [2]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
x = pd.read_csv("ache.csv", sep = ";", low_memory=False)

In [8]:
x.head()

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties,Action Type,Standard Text Value
0,CHEMBL47375,NaN,NaN,332.85,0.0,2.10,1i,COc1ccc(C(=O)/C(=N/O)SCC[N+](C)(C)C)cc1.[Cl-],kHOX,'=',...,SINGLE PROTEIN,CHEMBL1123431,1,Scientific Literature,J Med Chem,1986.0,NaN,NaN,NaN,NaN
1,CHEMBL47375,NaN,NaN,332.85,0.0,2.10,1i,COc1ccc(C(=O)/C(=N/O)SCC[N+](C)(C)C)cc1.[Cl-],Rmax,NaN,...,SINGLE PROTEIN,CHEMBL1123431,1,Scientific Literature,J Med Chem,1986.0,NaN,NaN,NaN,NaN
2,CHEMBL45118,NaN,NaN,360.91,0.0,2.89,1j,CC[N+](C)(CC)CCS/C(=N\O)C(=O)c1ccc(OC)cc1.[Cl-],kHOX,'=',...,SINGLE PROTEIN,CHEMBL1123431,1,Scientific Literature,J Med Chem,1986.0,NaN,NaN,NaN,NaN
3,CHEMBL558598,RIMONABANT HYDROCHLORIDE,NaN,500.26,1.0,5.94,Rimonabant. Hydrochloride,Cc1c(C(=O)NN2CCCCC2)nn(-c2ccc(Cl)cc2Cl)c1-c1cc...,IC50,'=',...,SINGLE PROTEIN,CHEMBL1156813,1,Scientific Literature,J Med Chem,2010.0,CHEMBL3307715,NaN,NaN,NaN
4,CHEMBL282468,CHOLINE CHLORIDE,4.0,139.63,NaN,NaN,CHOLINE CHLORIDE,C[N+](C)(C)CCO.[Cl-],Ki,NaN,...,SINGLE PROTEIN,CHEMBL1909046,15,DrugMatrix,NaN,NaN,CHEMBL3307715,NaN,NaN,NaN

In [10]:
x.shape

(18204, 47)

In [12]:
x.columns

Index(['Molecule ChEMBL ID', 'Molecule Name', 'Molecule Max Phase',
       'Molecular Weight', '#RO5 Violations', 'AlogP', 'Compound Key',
       'Smiles', 'Standard Type', 'Standard Relation', 'Standard Value',
       'Standard Units', 'pChEMBL Value', 'Data Validity Comment', 'Comment',
       'Uo Units', 'Ligand Efficiency BEI', 'Ligand Efficiency LE',
       'Ligand Efficiency LLE', 'Ligand Efficiency SEI', 'Potential Duplicate',
       'Assay ChEMBL ID', 'Assay Description', 'Assay Type', 'BAO Format ID',
       'BAO Label', 'Assay Organism', 'Assay Tissue ChEMBL ID',
       'Assay Tissue Name', 'Assay Cell Type', 'Assay Subcellular Fraction',
       'Assay Parameters', 'Assay Variant Accession', 'Assay Variant Mutation',
       'Target ChEMBL ID', 'Target Name', 'Target Organism', 'Target Type',
       'Document ChEMBL ID', 'Source ID', 'Source Description',
       'Document Journal', 'Document Year', 'Cell ChEMBL ID', 'Properties',
       'Action Type', 'Standard Text Value'],
      dtype='object')

In [14]:
y = x[['Molecule ChEMBL ID','Smiles','Standard Type','Standard Units','Standard Value']]

In [16]:
y.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
0,CHEMBL47375,COc1ccc(C(=O)/C(=N/O)SCC[N+](C)(C)C)cc1.[Cl-],kHOX,M-1 min-1,23.40
1,CHEMBL47375,COc1ccc(C(=O)/C(=N/O)SCC[N+](C)(C)C)cc1.[Cl-],Rmax,%,5.60
2,CHEMBL45118,CC[N+](C)(CC)CCS/C(=N\O)C(=O)c1ccc(OC)cc1.[Cl-],kHOX,M-1 min-1,32.40
3,CHEMBL558598,Cc1c(C(=O)NN2CCCCC2)nn(-c2ccc(Cl)cc2Cl)c1-c1cc...,IC50,nM,25118.86
4,CHEMBL282468,C[N+](C)(C)CCO.[Cl-],Ki,NaN,NaN

In [18]:
y=y.dropna()

In [20]:
y.shape

(14298, 5)

In [22]:
y['Molecule ChEMBL ID'].value_counts()

Molecule ChEMBL ID
CHEMBL502        215
CHEMBL95         211
CHEMBL659        105
CHEMBL33051       87
CHEMBL291233      84
                ...
CHEMBL4551728      1
CHEMBL4457932      1
CHEMBL3632989      1
CHEMBL496126       1
CHEMBL5078078      1
Name: count, Length: 8847, dtype: int64

In [24]:
z=y[y['Molecule ChEMBL ID'].str.contains('CHEMBL502')]

In [26]:
z

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
62,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,50.12
79,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,Ki,nM,20.50
81,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,100000.00
275,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,2.00
339,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,22.91
...,...,...,...,...,...
17965,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,5.70
17971,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,Activity,%,53.60
17972,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,Activity,%,61.80
18083,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,7.39
18105,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,Inhibition,%,26.70

In [29]:
y.columns

Index(['Molecule ChEMBL ID', 'Smiles', 'Standard Type', 'Standard Units',
       'Standard Value'],
      dtype='object')

In [31]:
y['Standard Units'].value_counts()

Standard Units
nM              10023
%                2703
/min              359
/mM/min           268
M-1 min-1         199
uM                108
mM/min             85
hr                 74
/M/min             55
ug.mL-1            39
min-1              36
M                  36
10'3/M/min         36
mM                 35
ug                 31
10e-3 1/s          28
min                23
s-1                19
10'-3/min          17
10^-3/min          16
ng                 16
/s                  8
/M/s                8
deltaA/min          6
10'4/M/min          6
/hr                 5
10'3L/M             4
10'5/M/min          4
10'5L/M             4
10'7/M/min          4
M-min               4
mAU/min             4
U/min               3
10'8/M/min          3
10'5pM              3
10'-1nmol           3
10'6pM              2
10'-4nmol           2
mm                  2
10^8M               2
10^-4microM         2
10'-8mol/min        2
10'-2nmol           2
degrees C           2
10'6/M/min          2
/min/M              1
10'2/M/min          1
10'3pM              1
nmol                1
%/hr                1
Name: count, dtype: int64

In [33]:
y_ = y[y['Standard Units'].str.contains("nM")]

In [35]:
y_.shape

(10023, 5)

In [37]:
y_.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
3,CHEMBL558598,Cc1c(C(=O)NN2CCCCC2)nn(-c2ccc(Cl)cc2Cl)c1-c1cc...,IC50,nM,25118.86
7,CHEMBL131051,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)c1ccccc1,IC50,nM,50000.00
8,CHEMBL154211,N#CC(C#N)=C1NCCN1CCNCc1ccc(CN2CCCCC2)o1,IC50,nM,30.00
12,CHEMBL2068680,COC1=C(C)C(=O)O/C1=C1\O[C@@]23O[C@H]4C[C@@H]([...,MIC,nM,1.25
21,CHEMBL85473,COc1cc2cc(C(O)C3CC[N+](C)(Cc4ccccc4)CC3)sc2cc1...,IC50,nM,19580.00

In [39]:
y_['Standard Type'].value_counts()

Standard Type
IC50       7759
AC50        999
Ki          931
Kd          256
EC50         45
Km           19
MIC          11
Kic           1
alphaKi       1
XC50          1
Name: count, dtype: int64

In [41]:
#Standard Type = [IC50,EC50,AC50, Ki, Kd and Potency]

In [43]:
y_['Standard Type'].str.contains("IC50|EC50|AC50|Ki|Kd|Potency")

3         True
7         True
8         True
12       False
21        True
         ...
18198     True
18199     True
18200     True
18201     True
18203     True
Name: Standard Type, Length: 10023, dtype: bool

In [45]:
y_ = y_[y_['Standard Type'].str.contains('IC50|EC50|AC50|Ki|Kd|Potency')]

In [47]:
y_

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
3,CHEMBL558598,Cc1c(C(=O)NN2CCCCC2)nn(-c2ccc(Cl)cc2Cl)c1-c1cc...,IC50,nM,25118.86
7,CHEMBL131051,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)c1ccccc1,IC50,nM,50000.00
8,CHEMBL154211,N#CC(C#N)=C1NCCN1CCNCc1ccc(CN2CCCCC2)o1,IC50,nM,30.00
21,CHEMBL85473,COc1cc2cc(C(O)C3CC[N+](C)(Cc4ccccc4)CC3)sc2cc1...,IC50,nM,19580.00
23,CHEMBL3402707,CN(CCCCCN1C(=O)c2ccccc2C1=O)Cc1ccccc1.Cl,IC50,nM,361.00
...,...,...,...,...,...
18198,CHEMBL5220742,O=C1CCOc2cc(OCCCCCSC(=S)N3CCCCC3)ccc21,IC50,nM,100.00
18199,CHEMBL503160,O=C(O)/C=C/C(=O)O,AC50,nM,30000.00
18200,CHEMBL5202541,COc1cc(/C=C/c2cc(=O)oc3c2ccc2oc(-c4cccc(F)c4)c...,IC50,nM,1800.00
18201,CHEMBL3758997,NS(=O)(=O)c1ccc(/N=C/c2cc(Br)cc(Br)c2O)cc1,Ki,nM,21.00
18203,CHEMBL5078078,CC(C)(O)c1ccc(N2Cc3c(ccnc3-c3ccc(F)cc3OCC(F)(F...,IC50,nM,10000.00

In [49]:
y_.shape

(9992, 5)

In [51]:
y_.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
3,CHEMBL558598,Cc1c(C(=O)NN2CCCCC2)nn(-c2ccc(Cl)cc2Cl)c1-c1cc...,IC50,nM,25118.86
7,CHEMBL131051,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)c1ccccc1,IC50,nM,50000.00
8,CHEMBL154211,N#CC(C#N)=C1NCCN1CCNCc1ccc(CN2CCCCC2)o1,IC50,nM,30.00
21,CHEMBL85473,COc1cc2cc(C(O)C3CC[N+](C)(Cc4ccccc4)CC3)sc2cc1...,IC50,nM,19580.00
23,CHEMBL3402707,CN(CCCCCN1C(=O)c2ccccc2C1=O)Cc1ccccc1.Cl,IC50,nM,361.00

In [53]:
y_['Standard Type'].value_counts()

Standard Type
IC50       7759
AC50        999
Ki          931
Kd          256
EC50         45
Kic           1
alphaKi       1
Name: count, dtype: int64

In [55]:
y_.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
3,CHEMBL558598,Cc1c(C(=O)NN2CCCCC2)nn(-c2ccc(Cl)cc2Cl)c1-c1cc...,IC50,nM,25118.86
7,CHEMBL131051,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)c1ccccc1,IC50,nM,50000.00
8,CHEMBL154211,N#CC(C#N)=C1NCCN1CCNCc1ccc(CN2CCCCC2)o1,IC50,nM,30.00
21,CHEMBL85473,COc1cc2cc(C(O)C3CC[N+](C)(Cc4ccccc4)CC3)sc2cc1...,IC50,nM,19580.00
23,CHEMBL3402707,CN(CCCCCN1C(=O)c2ccccc2C1=O)Cc1ccccc1.Cl,IC50,nM,361.00

In [57]:
y_IC50 = y_[y_['Standard Type'].str.contains("IC50")]

In [59]:
y_IC50

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
3,CHEMBL558598,Cc1c(C(=O)NN2CCCCC2)nn(-c2ccc(Cl)cc2Cl)c1-c1cc...,IC50,nM,25118.86
7,CHEMBL131051,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)c1ccccc1,IC50,nM,50000.00
8,CHEMBL154211,N#CC(C#N)=C1NCCN1CCNCc1ccc(CN2CCCCC2)o1,IC50,nM,30.00
21,CHEMBL85473,COc1cc2cc(C(O)C3CC[N+](C)(Cc4ccccc4)CC3)sc2cc1...,IC50,nM,19580.00
23,CHEMBL3402707,CN(CCCCCN1C(=O)c2ccccc2C1=O)Cc1ccccc1.Cl,IC50,nM,361.00
...,...,...,...,...,...
18178,CHEMBL5174252,O=[N+]([O-])c1ccc2nc3c(c(Nc4[nH]nc5ncccc45)c2c...,IC50,nM,299.00
18179,CHEMBL5177066,Cc1ccc2nc3c(c(NCCN4CCN(C)CC4)c2c1)CCCC3,IC50,nM,974.00
18198,CHEMBL5220742,O=C1CCOc2cc(OCCCCCSC(=S)N3CCCCC3)ccc21,IC50,nM,100.00
18200,CHEMBL5202541,COc1cc(/C=C/c2cc(=O)oc3c2ccc2oc(-c4cccc(F)c4)c...,IC50,nM,1800.00
18203,CHEMBL5078078,CC(C)(O)c1ccc(N2Cc3c(ccnc3-c3ccc(F)cc3OCC(F)(F...,IC50,nM,10000.00

In [61]:
y_IC50.shape

(7759, 5)

In [63]:
# Use Case #1: Finding new molecules against ACHE (CHEMBL220)
# Build bioactivity classifier, can classify new molecules from different database into active in inactive
# IC50/Ki/Kd... Smaller the value, stronger the inhibition/binding
# positive (active) and negative (inactive)

# active (positive) < 10 nM -> Label 1
# inactive (negative) > 20 nM -> Label 0

# Use Case #2: Finding new molecules based on bioactivity data
# Bioactivity regression model for predicting bioactivity value of new molecules 
# Binding affinity prediction

In [65]:
z = y_[y_["Molecule ChEMBL ID"].str.contains("CHEMBL502")]

In [67]:
z

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
62,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,50.12
79,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,Ki,nM,20.50
81,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,100000.00
275,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,2.00
339,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,22.91
...,...,...,...,...,...
17624,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,44.00
17631,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,25.00
17841,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,AC50,nM,16.70
17965,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,5.70
18083,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,7.39

In [69]:
z.sort_values("Standard Value", ascending=True)

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
275,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,2.00
4253,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,2.33
11735,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,4.00
15158,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,5.00
15653,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,5.59
...,...,...,...,...,...
16336,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,7560.00
13011,CHEMBL502620,CC[C@@]1(O)C[C@H](O[C@H]2C[C@H](N(C)C)[C@H](O[...,AC50,nM,30000.00
81,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,100000.00
13507,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,198000.00
8837,CHEMBL502689,CC(C)=CCc1cc2ccc(=O)oc2cc1O,IC50,nM,2400000.00

In [71]:
y_.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
3,CHEMBL558598,Cc1c(C(=O)NN2CCCCC2)nn(-c2ccc(Cl)cc2Cl)c1-c1cc...,IC50,nM,25118.86
7,CHEMBL131051,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)c1ccccc1,IC50,nM,50000.00
8,CHEMBL154211,N#CC(C#N)=C1NCCN1CCNCc1ccc(CN2CCCCC2)o1,IC50,nM,30.00
21,CHEMBL85473,COc1cc2cc(C(O)C3CC[N+](C)(Cc4ccccc4)CC3)sc2cc1...,IC50,nM,19580.00
23,CHEMBL3402707,CN(CCCCCN1C(=O)c2ccccc2C1=O)Cc1ccccc1.Cl,IC50,nM,361.00

In [73]:
y_IC50 = y_IC50.sort_values("Standard Value", ascending=True)

In [75]:
y_IC50.tail()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
491,CHEMBL3597055,COC(=O)C1=C(Nc2ccc(F)cc2)C[C@@H](c2ccccc2)N(c2...,IC50,nM,15120000.0
2438,CHEMBL1276534,O=C(NP(=O)(NN1CCOCC1)NN1CCOCC1)c1ccccc1,IC50,nM,18620000.0
5250,CHEMBL51628,O=c1ccc2ccc(O)cc2o1,IC50,nM,29000000.0
3962,CHEMBL371798,CN(CCCCCCCOc1ccc2c(c1)O/C(=C\c1cccc3ccccc13)C2...,IC50,nM,49600000.0
8773,CHEMBL131051,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)c1ccccc1,IC50,nM,50000000.0

In [77]:
y_IC50.shape

(7759, 5)

In [79]:
y_IC50 = y_IC50.drop_duplicates(subset='Molecule ChEMBL ID', keep='first')

In [81]:
y_IC50.shape

(6339, 5)

In [83]:
z['Standard Value'].mean()

17787.5911483871

In [85]:
z.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
62,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,50.12
79,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,Ki,nM,20.50
81,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,100000.00
275,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,2.00
339,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,22.91

In [87]:
x.iloc[122:124]

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties,Action Type,Standard Text Value
122,CHEMBL11805,CAPROCTAMINE,NaN,666.99,2.0,7.65,3,COc1ccccc1CN(C)CCCCCC(=O)N(C)CCCCCCCCN(C)C(=O)...,IC50,'=',...,SINGLE PROTEIN,CHEMBL1145289,1,Scientific Literature,J Med Chem,2005.0,NaN,NaN,NaN,NaN
123,CHEMBL136052,NaN,NaN,402.67,1.0,5.44,32,CC(=O)N(C)[C@@H](C)[C@H]1CC[C@H]2[C@@H]3CC[C@H...,IC50,'=',...,SINGLE PROTEIN,CHEMBL1136484,1,Scientific Literature,Bioorg Med Chem Lett,2003.0,NaN,NaN,NaN,NaN

In [89]:
z.reset_index()

,index,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
0,62,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,50.12
1,79,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,Ki,nM,20.50
2,81,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,100000.00
3,275,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,2.00
4,339,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,22.91
...,...,...,...,...,...,...
150,17624,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,44.00
151,17631,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,25.00
152,17841,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,AC50,nM,16.70
153,17965,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,5.70
154,18083,CHEMBL502,COc1cc2c(cc1OC)C(=O)C(CC1CCN(Cc3ccccc3)CC1)C2,IC50,nM,7.39

In [91]:
active = y_IC50.loc[y_IC50['Standard Value']<=10000]

In [93]:
active.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
5415,CHEMBL4780352,COc1cc2c(cc1OC)C(=O)/C(=C/c1ccc(OCCCCN[N+]3(C)...,IC50,nM,0.000000
14689,CHEMBL4532770,COc1ccc2[nH]cc(CCNC(=O)CCCCCCCNc3c4c(nc5ccccc3...,IC50,nM,0.000005
5704,CHEMBL4590945,O=C(CCCCCCCNc1c2c(nc3cc(Cl)cc(Cl)c13)CCCC2)NCC...,IC50,nM,0.000005
5705,CHEMBL4455677,COc1ccc2[nH]cc(CCNC(=O)CCCCNc3c4c(nc5ccccc35)C...,IC50,nM,0.000005
9058,CHEMBL199538,O=C(CCCCCNc1c2c(nc3cc(Cl)cc(Cl)c13)CCCC2)NCCc1...,IC50,nM,0.000005

In [95]:
active.shape

(4531, 5)

In [97]:
inactive = y_IC50.loc[y_IC50['Standard Value']>=20000]

In [99]:
inactive.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value
14391,CHEMBL4249829,C=Cc1oc2ccc(Br)cc2c(=O)c1CN(C)/C=C/C(=O)OC,IC50,nM,20000.0
15080,CHEMBL4244773,O=c1c2c(oc3ccccc13)CCN(Cc1ccccc1)C2,IC50,nM,20000.0
14325,CHEMBL5080190,COc1cc2c[n+]3c(cc2c(CO)c1OC)-c1c(cc2c(c1OC)OCO...,IC50,nM,20000.0
1529,CHEMBL4094837,COc1ccc(C2c3ccccc3N(C)c3ccccc32)cc1,IC50,nM,20000.0
12099,CHEMBL434948,CC1CCCCN1CCCN1CC(=O)N(CCc2ccc(F)cc2)CC1=O,IC50,nM,20000.0

In [101]:
inactive.shape

(1419, 5)

In [103]:
active = active.assign(Label=1)

In [105]:
active.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value,Label
5415,CHEMBL4780352,COc1cc2c(cc1OC)C(=O)/C(=C/c1ccc(OCCCCN[N+]3(C)...,IC50,nM,0.000000,1
14689,CHEMBL4532770,COc1ccc2[nH]cc(CCNC(=O)CCCCCCCNc3c4c(nc5ccccc3...,IC50,nM,0.000005,1
5704,CHEMBL4590945,O=C(CCCCCCCNc1c2c(nc3cc(Cl)cc(Cl)c13)CCCC2)NCC...,IC50,nM,0.000005,1
5705,CHEMBL4455677,COc1ccc2[nH]cc(CCNC(=O)CCCCNc3c4c(nc5ccccc35)C...,IC50,nM,0.000005,1
9058,CHEMBL199538,O=C(CCCCCNc1c2c(nc3cc(Cl)cc(Cl)c13)CCCC2)NCCc1...,IC50,nM,0.000005,1

In [107]:
inactive = inactive.assign(Label=0)

In [109]:
inactive.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value,Label
14391,CHEMBL4249829,C=Cc1oc2ccc(Br)cc2c(=O)c1CN(C)/C=C/C(=O)OC,IC50,nM,20000.0,0
15080,CHEMBL4244773,O=c1c2c(oc3ccccc13)CCN(Cc1ccccc1)C2,IC50,nM,20000.0,0
14325,CHEMBL5080190,COc1cc2c[n+]3c(cc2c(CO)c1OC)-c1c(cc2c(c1OC)OCO...,IC50,nM,20000.0,0
1529,CHEMBL4094837,COc1ccc(C2c3ccccc3N(C)c3ccccc32)cc1,IC50,nM,20000.0,0
12099,CHEMBL434948,CC1CCCCN1CCCN1CC(=O)N(CCc2ccc(F)cc2)CC1=O,IC50,nM,20000.0,0

In [111]:
combined = pd.concat([active, inactive], axis=0)

In [113]:
combined

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Units,Standard Value,Label
5415,CHEMBL4780352,COc1cc2c(cc1OC)C(=O)/C(=C/c1ccc(OCCCCN[N+]3(C)...,IC50,nM,0.000000e+00,1
14689,CHEMBL4532770,COc1ccc2[nH]cc(CCNC(=O)CCCCCCCNc3c4c(nc5ccccc3...,IC50,nM,5.000000e-06,1
5704,CHEMBL4590945,O=C(CCCCCCCNc1c2c(nc3cc(Cl)cc(Cl)c13)CCCC2)NCC...,IC50,nM,5.000000e-06,1
5705,CHEMBL4455677,COc1ccc2[nH]cc(CCNC(=O)CCCCNc3c4c(nc5ccccc35)C...,IC50,nM,5.000000e-06,1
9058,CHEMBL199538,O=C(CCCCCNc1c2c(nc3cc(Cl)cc(Cl)c13)CCCC2)NCCc1...,IC50,nM,5.000000e-06,1
...,...,...,...,...,...,...
11411,CHEMBL1276594,O=P(NN1CCOCC1)(NN1CCOCC1)Oc1ccccc1,IC50,nM,9.550000e+06,0
7569,CHEMBL102637,CCSC(=O)OCC[N+](C)(C)C.[Cl-],IC50,nM,1.000000e+07,0
324,CHEMBL334938,C[N+]1(C)CCO[C@@](O)(c2ccc(C#N)cc2)C1,IC50,nM,1.158777e+07,0
2438,CHEMBL1276534,O=C(NP(=O)(NN1CCOCC1)NN1CCOCC1)c1ccccc1,IC50,nM,1.862000e+07,0
3962,CHEMBL371798,CN(CCCCCCCOc1ccc2c(c1)O/C(=C\c1cccc3ccccc13)C2...,IC50,nM,4.960000e+07,0

In [115]:
combined.to_csv('ache labelled.csv', index=None)

In [117]:
combined[["Smiles", "Label"]].to_csv("ache_labelled.smiles", header=None, index=None, sep=",")

In [119]:
ls

 O volume na unidade C ‚ OS
 O N£mero de S‚rie do Volume ‚ AE54-89ED

 Pasta de C:\Users\karol\OneDrive\ChemEng\drug_discovery_projects\BioactivityData

09/16/2024  03:43 PM    <DIR>          .
09/16/2024  03:36 PM    <DIR>          ..
09/16/2024  03:42 PM    <DIR>          .ipynb_checkpoints
09/16/2024  03:37 PM           501,392 ache labeled.csv
09/16/2024  03:43 PM           501,392 ache labelled.csv
09/16/2024  03:37 PM        10,455,518 ache.csv
09/16/2024  03:43 PM           332,494 ache_labelled.smiles
09/16/2024  03:37 PM         3,866,802 Artigo1.pdf
09/16/2024  03:37 PM           124,600 Bioactivity Data Analysis.ipynb
09/16/2024  03:42 PM                72 Untitled.ipynb
               7 arquivo(s)     15,782,270 bytes
               3 pasta(s)   174,040,612,864 bytes dispon¡veis